%p Want to be able to search the content of files stored in your DropBox account?
%br
%a(href='/search') Login and Search to start!
%br
%br
%img(src="/images/WorksWithDropbox_white_small.png" alt="Works with Dropbox")
