%html
  %head
    %link(rel="stylesheet" type="text/css" href="/css/style.css")
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript")
    %title Full Text Search with Dropbox
  #header Full Text Search with Dropbox
  #content
    = yield
  #footer 
