%html
  %link(rel="stylesheet" type="text/css" href="/css/style.css")
  %title Full Text Search with Dropbox
  #header Full Text Search with Dropbox
  #content
    = yield
  #footer 
    %img(src="/images/WorksWithDropbox_white_small.png" alt="Works with Dropbox")
