body {
  width: 960px;
  font-family: arial, sans-serif;
  font-size: 13px;
  background-color: #CCC;
}

#header {
  font-size: 20px;
  padding: 5px;
  margin: 5px;
}

#content {
  min-height: 400px;
}

#left, #right {
  background-color: white;
  margin: 5px;
  -moz-box-shadow: 5px 5px 5px #888;
  -webkit-box-shadow: 5px 5px 5px #888;
  box-shadow: 5px 5px 5px #888;
}

#index-view, #filter-selected-view, #search-view, #doc-list-view, #filter-view, #loading, #message {
  background-color: white;
  padding: 5px;
  margin: 5px;
}

#loading {
  display:none;
}

#message {
  border: 1px solid gray;
  background-color: lightYellow;
  display: none;
}

#index-view {
  padding-top: 20px;
  clear: both;
}

#filter-selected-view {
  padding-top: 20px;
}

.facet_term {
  margin-right: 4px;
  color: #6998f0;
}
.facet_term:hover {
  color: #f00;
}
.facet_term_size_0 {
  font-size: 80%;
}
.facet_term_size_1 {
  font-size: 90%;
}
.facet_term_size_2 {
  font-size: 100%;
}
.facet_term_size_3 {
  font-size: 110%;
}
.facet_term_size_4 {
  font-size: 120%;
}
.facet_term_size_5 {
  font-size: 130%;
}
.facet_term_size_6 {
  font-size: 140%;
}
.facet_term_size_7 {
  font-size: 150%;
}
.facet_term_size_8 {
  font-size: 160%;
}
.facet_term_size_9 {
  font-size: 170%;
}
.facet_term_size_10 {
  font-size: 180%;
}


#search-view {
}

input#q {
  width: 600px;
  font-size: 18px;
}

input#submit {
  font-size: 18px;
}

#left {
  float:left;
  width: 200px;
}

#right {
  float:left;
  width: 740px;
}

.search_result {
  padding: 10px 0px;
  clear: both;
}

.info {
  font-size: 12px;
  padding: 2px 0px;
}

.content_type, .attr_created {
  float: left;
  padding: 0px 5px 0px 0px;
}

.snippet em {
  font-weight: bold;
}

#footer {
  clear:both;
}
